<article class="listing">
    <div class="back_image" style="background-image: url({{pack.image}})"></div>
    <div class="detailed_pack">
            <span>{{pack.terms}} terms</span>
            <a href="#" class="user">
                <img src="{{pack.userimage}}" style="width: 16px; height:16px; float:left;" class="img-rounded img-responsive">
                <span>{{pack.owner}}</span>
            </a>
            <span>{{pack.category}}</span>
    </div>
    <h3>{{pack.title}}</h3>
</article>